{% extends 'base.html.twig' %}


{% block title %}Inscription{% endblock %}

{% block body %}
<div>
    <div class="absolute inset-0 overflow-hidden">
        <video autoplay muted loop preload="auto" class="object-cover w-full h-full">
            <source src="/bg-vid.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>

    <div class="relative z-10 flex items-center justify-center h-screen">
        <!-- Affichage des erreurs du formulaire -->
    {% if not registrationForm.vars.valid %}
        <div class="error-messages">
            {% for error in registrationForm.vars.errors %}
                <p class="error">{{ error.message }}</p>
            {% endfor %}
        </div>
    {% endif %}

        {{ form_start(registrationForm, {'attr': {'class': 'w-[320px] rounded-2xl text-white p-8 bg-gradient-to-tr from-gray-700 via-gray-900 to-black min-h'}}) }}
            <h2 class="mb-4 text-2xl font-semibold text-center ubuntu-medium-plus">Inscription</h2>

            <div class="flex flex-col items-center justify-center mb-4 text-left ubuntu-sans-medium">
                <span>Pseudo</span>
                <div class="items-center justify-center mt-2">
                    <div class="flex items-center py-2 border-b border-gray-500">
                        <svg height="20px" width="20px" class="ml-2" aria-hidden="true" focusable="false" viewBox="0 0 448 512">
                            <path fill="white" d="M224 16c-6.7 0-10.8-2.8-15.5-6.1C201.9 5.4 194 0 176 0c-30.5 0-52 43.7-66 89.4C62.7 98.1 32 112.2 32 128c0 14.3 25 27.1 64.6 35.9c-.4 4-.6 8-.6 12.1c0 17 3.3 33.2 9.3 48H45.4C38 224 32 230 32 237.4c0 1.7 .3 3.4 1 5l38.8 96.9C28.2 371.8 0 423.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7c0-58.5-28.2-110.4-71.7-143L415 242.4c.6-1.6 1-3.3 1-5c0-7.4-6-13.4-13.4-13.4H342.7c6-14.8 9.3-31 9.3-48c0-4.1-.2-8.1-.6-12.1C391 155.1 416 142.3 416 128c0-15.8-30.7-29.9-78-38.6C324 43.7 302.5 0 272 0c-18 0-25.9 5.4-32.5 9.9c-4.8 3.3-8.8 6.1-15.5 6.1zm56 208H267.6c-16.5 0-31.1-10.6-36.3-26.2c-2.3-7-12.2-7-14.5 0c-5.2 15.6-19.9 26.2-36.3 26.2H168c-22.1 0-40-17.9-40-40V169.6c28.2 4.1 61 6.4 96 6.4s67.8-2.3 96-6.4V184c0 22.1-17.9 40-40 40zm-88 96l16 32L176 480 128 288l64 32zm128-32L272 480 240 352l16-32 64-32z"></path>
                        </svg>
                        {{ form_widget(registrationForm.username, {'attr': {'placeholder': 'Entrez votre pseudo', 'autocomplete': 'off', 'class': 'w-full px-2 py-1 mr-3 leading-tight text-white bg-transparent border-none appearance-none placeholder:text-gray-400 placeholder:text-sm focus:outline-none'}}) }}
                    </div>
                </div>
            </div>

            <div class="flex flex-col items-center justify-center mb-4 text-left ubuntu-sans-medium">
                <span>E-Mail</span>
                <div class="items-center justify-center mt-2">
                    <div class="flex items-center py-2 border-b border-gray-500">
                        <svg height="20px" width="20px" class="ml-2" aria-hidden="true" viewBox="0 0 512 512">
                            <path fill="white" d="M48 64C21.5 64 0 85.5 0 112c0 15.1 7.1 29.3 19.2 38.4L236.8 313.6c11.4 8.5 27 8.5 38.4 0L492.8 150.4c12.1-9.1 19.2-23.3 19.2-38.4c0-26.5-21.5-48-48-48H48zM0 176V384c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V176L294.4 339.2c-22.8 17.1-54 17.1-76.8 0L0 176z"></path>
                        </svg>
                        {{ form_widget(registrationForm.email, {'attr': {'placeholder': 'Entrez votre e-mail', 'autocomplete': 'off', 'class': 'w-full px-2 py-1 mr-3 leading-tight text-white bg-transparent border-none appearance-none placeholder:text-gray-400 placeholder:text-sm focus:outline-none'}}) }}
                    </div>
                </div>
            </div>

            <div class="flex flex-col items-center justify-center mb-4 text-left ubuntu-sans-medium">
                <span>Mot de passe</span>
                <div class="items-center justify-center mt-2">
                    <div class="flex items-center py-2 border-b border-gray-500">
                        <svg height="20px" width="20px" class="ml-2" aria-hidden="true" focusable="false" viewBox="0 0 512 512" width="512" height="512">
                            <path fill="white" d="M144 144v48H304V144c0-44.2-35.8-80-80-80s-80 35.8-80 80zM80 192V144C80 64.5 144.5 0 224 0s144 64.5 144 144v48h16c35.3 0 64 28.7 64 64V448c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V256c0-35.3 28.7-64 64-64H80z"></path>
                        </svg>
                        {{ form_widget(registrationForm.plainPassword, {'attr': {'placeholder': 'Entrez votre mot de passe', 'autocomplete': 'off', 'class': 'w-full px-2 py-1 mr-3 leading-tight text-white bg-transparent border-none appearance-none placeholder:text-gray-400 placeholder:text-sm focus:outline-none'}}) }}
                    </div>
                    <div class="text-right mt-2">
                        {{ form_label(registrationForm.agreeTerms, 'Accepter les règles de conduite', {'label_attr': {'class': 'text-xs font-bold text-white'}}) }}                    
                        {{ form_widget(registrationForm.agreeTerms, {'attr': {'class': 'mr-2'}}) }}
                    </div>
                </div>
            </div>

            <div class="flex flex-col items-center justify-center mb-8">
                <button type="submit" class="flex gap-3 py-3 mt-4 font-semibold text-white duration-200 border border-gray-600 rounded-full cursor-pointer bg-gradient-to-r from-gray-800 to-black px-7 hover:scale-105 hover:text-gray-500 hover:border-gray-800 hover:from-black hover:to-gray-900">
                    S'inscrire
                </button>
            </div>

            <div class="mb-auto text-center">
                <p class="ubuntu-sans-regular text-sm">Déjà un compte ?</p>
                <a href="{{ path('app_login') }}" class="font-bold ubuntu-sans-bold text-white">Se connecter</a>
            </div>
        {{ form_end(registrationForm) }}
    </div>    
</div>

{% endblock %}
